    @font-face {
        font-family: "title";
        src: url('./lesFonts/Novecento_Sans/Novecento\ CondBook.otf');
    }
    
    @font-face {
        font-family: "font bold";
        src: url('./lesFonts/Novecento_Sans/Novecento\ CondBold.otf');
    }
    
    @font-face {
        font-family: "LightCond";
        src: url('./lesFonts/Aeonis.LT.Pro/AeonisLTPro-LightCond.otf');
    }
    
    .bgDrop {
        background: rgba(0, 0, 0, 0.6);
        line-height: 17px;
    }
    
    .bgDrop a {
        color: white;
    }
    /* nav bar*/
    
    .bu:hover {
        color: #ffd512;
    }
    /* Sweep To Left */
    
    .hvr-sweep-to-left:hover {
        background-color: #474543;
    }
    /* tes */
    
    .dropdown-toggle::after {
        border-top: 0px solid;
    }
    
    .navbar-light .navbar-nav .nav-link:focus,
    .navbar-light .navbar-nav .nav-link:hover {
        color: #ffff;
    }
    /* end tese */
    /* 


    /* and hover sweft to left*/
    /*endnavbar*/
    /* slide */
    
    .carousel-indicators .active {
        background-color: #ffff;
    }
    
    .carousel-indicators li {
        border-radius: 50%;
        width: 8px;
        height: 8px;
        border: 1px solid #fff;
        background-color: transparent;
    }
    
    .horizontalHr {
        border: 1px Solid hsla(200, 10%, 5%, 100);
        width: 80%;
        border-color: #ffffff;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    
    .verticaHr {
        border: none;
        border-left: 2px Solid hsla(200, 10%, 5%, 100);
        height: 24vh;
        width: 1px;
    }
    
    .navbg {
        background: #fff;
    }
    
    .top-bar {
        background: transparent;
        color: #fff;
        font-size: 0.9rem;
        padding: 10px 0;
        display: block;
    }
    
    .top-bar span {
        font-family: "title";
        font-size: 14pt;
    }
    /* sous menu */
    
    .dropdown-menu {
        margin-top: 32px;
    }
    
    .dropdown-menu h4 {
        font-family: "font bold";
        color: #474543;
        font-size: 24pt;
    }
    
    .dropdown-menu .nav-item p {
        color: #474543;
        font-family: "LightCond";
        font-size: 16pt;
        text-transform: uppercase;
    }
    
    .dropdown-menu .acceder p strong {
        color: #474543;
        font-family: "font bold";
        font-size: 24pt;
    }
    
    .dropdown-menu .acceder p {
        font-family: "title";
        color: #474543;
        font-size: 24pt;
        line-height: 40px;
    }
    /* .bgDrop p {
        color: #ffffff;
    }
     */
    
    .dropdown-menu .line {
        line-height: 17px;
    }
    
    .bgDrop #Pone {
        font-size: 24pt;
        font-family: "title";
        color: #ffffff;
        margin-left: 55px;
        line-height: 40px;
    }
    
    .bgDrop #Pone span {
        margin-left: 10px;
    }
    
    .bgDrop #Ptwo {
        font-size: 14pt;
        font-family: "LightCond";
        color: #ffffff;
        text-transform: none;
        letter-spacing: 0.4px;
    }
    
    .sweep-to-right:hover {
        color: #ffffff;
    }
    
    .sweep-to-right {
        position: relative;
        color: #474543;
        width: 290px;
        height: 50px;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transition: color 1000ms;
        transition: color 1000ms;
        border-radius: 1px;
        border-color: #474543;
        font-family: "title", sans-serif;
        text-transform: uppercase;
        font-size: 18pt;
    }
    
    .sweep-to-right:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #474543;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition: 300ms ease-out;
        transition: 300ms ease-out;
    }
    
    .sweep-to-right:hover:before {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    
    .navbar .dropdown-menu {
        background-color: #F5BD1F !important;
        /* width: 80%; */
        /* border: 2px solid black; */
    }
    
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0rem;
        padding-left: 0rem;
    }
    
    @media screen and (min-width: 992px) {
        .navbar {
            padding-top: 0px;
            padding-bottom: 0px;
            /* margin-top: 40px;*/
            display: block;
        }
        .navbar .dropdown {
            position: static;
        }
        .navbar .dropdown-menu {
            background-size: cover;
            border-radius: 1px;
            left: 0;
            right: 0;
            top: 30px;
            background-color: #F5BD1F;
            visibility: hidden;
            opacity: 0;
        }
        .navbar .dropdown:hover .dropdown-menu,
        .navbar .dropdown .dropdown-menu:hover {
            display: block;
            visibility: visible;
            opacity: 1;
            transition: visibility 0s, opacity 0.3s linear;
        }
        .navbar a {
            font-family: "title";
            font-size: 20pt;
            color: #474543;
        }
        /* slide */
        .carousel-item {
            height: 100vh;
            min-height: 300px;
            background: no-repeat center center;
            -webkit-background-size: cover;
            background-size: cover;
        }
    }
    
    .table td,
    .table th {
        border: none;
    }